<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Lisää uusi työ</title>
</head>
<body>
<h2>Lisää työ</h2>
<form th:action="@{/lisaaTyo}" th:object="${uusiTyo}" method="post">
Työn nimi: <input type="text" th:field="*{tyonNimi}" /> <br/>
Kesto tunteina: <input type="number" th:field="*{tyonKesto}" /> <br/>
Tuntipalkka: <input type="number" step="0.01" th:field="*{tuntipalkka}" /> <br/>
Päivämäärä: <input type="text" th:field="*{paivamaara}" /> <br/>
<input type="submit" value="Lisää työ"/>
</form>
</body>
</html>