<!-- <!DOCTYPE html> -->
<!-- <html xmlns="http://www.w3.org/1999/xhtml" -->
<!-- 	xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <meta charset="UTF-8"> -->
<!-- <title>Tyo</title> -->
<!-- </head> -->
<!-- <body> -->

<!-- <h2>Työ: <span th:text="${tyo.tyonNimi}"></span></h2> -->
<!-- 	<span th:text="${tyo.tyonKesto}"></span> -->
<!-- 	<span th:text="${tyo.tuntipalkka}"></span> -->
<!-- 	<span th:text="${tyo.paivamaara}"></span> -->
<!-- <!--     <span th:text="${tyo.paivapalkka}"></span>  --> -->
	
<!-- 	<h3>Työkerrat:</h3> -->
<!-- 	<table> -->
<!-- 	<tr th:each="tyokerta : ${tyokerrat}"> -->
<!-- 	<td th:text="${tyokerta.tuntimaara}"> </td> -->
<!-- 	<td th:text="${tyokerta.paivamaara}"> </td> -->
<!-- 	</tr> -->
<!-- 	</table> -->
	
<!-- 	<form th:action="@{'/tyo/' + ${tyo.id} + '/lisaaTyokerta'}" method="post" th:object="${tyokerta}"> -->
<!-- 	Kesto tunteina: <input type="number" th:field="*{tuntimaara}" /><br/> -->
<!-- 	Päivämäärä: <input type="text" th:field="*{paivamaara}" /><br/> -->
<!-- 	<input type="submit" value="Lisää työkerta" /> -->
<!-- 	</form> -->

<!-- </body> -->
<!-- </html> -->